flows_garage.json
[{"id":"54216699.9ebaf8","type":"tab","label":"Gartenbeleuchtung"},{"id":"a4976228.4f8c9","type":"tab","label":"PIP-Control"},{"id":"37518fc2.bc6da","type":"tab","label":"Read-PV-Data"},{"id":"e8a8ceed.fbb6b","type":"tab","label":"Flow 1"},{"id":"8466b405.e57ef8","type":"tab","label":"Flow 2"},{"id":"c3d77f4d.5cde4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"27d4b4.936f4b4c","type":"MySQLdatabase","z":"","host":"192.168.178.25","port":"3306","db":"Insel","tz":""},{"id":"54c8b90.8f9cc48","type":"mqtt-broker","z":"","broker":"192.168.178.26","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"2","willRetain":"true","willPayload":"","birthTopic":"","birthQos":"1","birthRetain":"true","birthPayload":""},{"id":"333035.0b4ecfcc","type":"rpi-gpio out","z":"54216699.9ebaf8","name":"Licht Garten","pin":"12","set":true,"level":"1","out":"out","x":737,"y":137,"wires":[]},{"id":"3f6b7ac8.bd9586","type":"inject","z":"54216699.9ebaf8","name":"Lampe aus","topic":"t","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":260,"wires":[["ad85dce2.dd4be"]]},{"id":"260fc0e8.a24e7","type":"inject","z":"54216699.9ebaf8","name":"Lampe Automatic","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":true,"x":210,"y":340,"wires":[["ad85dce2.dd4be"]]},{"id":"f9c4dfa4.ca74e","type":"rpi-gpio in","z":"54216699.9ebaf8","name":"Bewegung","pin":"40","intype":"up","debounce":"25","read":false,"x":320,"y":420,"wires":[["34b41f45.75c2c","4998ffa1.04c7e"]]},{"id":"34b41f45.75c2c","type":"trigger","z":"54216699.9ebaf8","op1":"1","op2":"auto","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","name":"Trigger","x":442,"y":286,"wires":[[]]},{"id":"4998ffa1.04c7e","type":"function","z":"54216699.9ebaf8","name":"function","func":"if (msg.payload == 1) {\nreturn [msg,null];\n} else {\nreturn [null,msg];\n}","outputs":"1","noerr":0,"x":540,"y":400,"wires":[[]]},{"id":"fa2fb264.a076","type":"debug","z":"54216699.9ebaf8","name":"Lampe an","active":false,"console":"false","complete":"true","x":740,"y":360,"wires":[]},{"id":"f7dedaf9.2bb288","type":"mqtt out","z":"54216699.9ebaf8","name":"Haus/Beleuchtung/Garten-Seite","topic":"Haus/Beleuchtung/Garten-Seite","qos":"2","retain":"","broker":"54c8b90.8f9cc48","x":870,"y":20,"wires":[]},{"id":"d2e46014.af896","type":"mqtt in","z":"54216699.9ebaf8","name":"Haus/Beleuchtung/Garten-Seite","topic":"Haus/Beleuchtung/Garten-Seite","qos":"2","broker":"54c8b90.8f9cc48","x":150,"y":80,"wires":[["ad85dce2.dd4be","35d0f13c.5fed4e"]]},{"id":"6cfd6cf8.a64ad4","type":"mqtt in","z":"54216699.9ebaf8","name":"","topic":"/Haus/Beleuchtung/Garten-Seite/Auto","qos":"2","broker":"54c8b90.8f9cc48","x":155,"y":176,"wires":[["35d0f13c.5fed4e","ad85dce2.dd4be"]]},{"id":"ad85dce2.dd4be","type":"bigtimer","z":"54216699.9ebaf8","outtopic":"","outpayload1":"0","outpayload2":"1","name":"Garten/Morgen","lat":"52.52","lon":"13.41","starttime":"390","endtime":"450","startoff":0,"endoff":0,"offs":0,"outtext1":"Lampe ein","outtext2":"Lampe aus","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"x":440,"y":180,"wires":[["cceb90ad.ec94","333035.0b4ecfcc"],[],[]]},{"id":"e9b221e2.be15c","type":"mqtt in","z":"37518fc2.bc6da","name":"","topic":"Haus/WR1","qos":"2","broker":"54c8b90.8f9cc48","x":80,"y":80,"wires":[["fee73d4f.3e15f"]]},{"id":"2093a591.4e482a","type":"function","z":"37518fc2.bc6da","name":"Parse Haus/WR1","func":"msg1 = {};\nmsg2 = {};\nmsg1.payload = msg.payload.D0*1;\nmsg2.payload = msg.payload.WR1;\n//global.set(\"Haus-D0\",msg1);\nglobal.set(\"Haus-WR1\",msg2);\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":410,"y":80,"wires":[["6a42b992.9d7908"],[]]},{"id":"fee73d4f.3e15f","type":"json","z":"37518fc2.bc6da","name":"","x":230,"y":80,"wires":[["2093a591.4e482a"]]},{"id":"504fba50.377b94","type":"mysql","z":"37518fc2.bc6da","mydb":"27d4b4.936f4b4c","name":"Insel-Read","x":330,"y":240,"wires":[["51bde85b.8da1f8"]]},{"id":"b147b385.0a1d9","type":"function","z":"37518fc2.bc6da","name":"Select-Actual-PIP-Data","func":" msg.topic = \"SELECT * FROM Insel.QPIGS ORDER BY ID DESC LIMIT 1\";\n    return msg;","outputs":1,"noerr":0,"x":130,"y":240,"wires":[["504fba50.377b94"]]},{"id":"b845f852.193758","type":"comment","z":"37518fc2.bc6da","name":"Home WR MQQT","info":"","x":100,"y":40,"wires":[]},{"id":"6a42b992.9d7908","type":"switch","z":"37518fc2.bc6da","name":"Filter 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":570,"y":80,"wires":[[],["be0d41e6.0946a"]]},{"id":"2cc40324.7db6ac","type":"ui_template","z":"37518fc2.bc6da","tab":"c3d77f4d.5cde4","name":"PIP","group":"PIP","order":1,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>HTML Layouts using DIV, SPAN</title>\n</head>\n<body>\n<div style=\"width:100%\">\n\n  <div style=\"background-color:#eee; height:350px;width:200px;float:left;\">\n    <p>Zeit {{msg.payload[0].Zeit;}} </p>\n    <p>Batterie {{msg.payload[0].Battery_voltage;}} V</p>\n    <p>Ladestrom {{msg.payload[0].Battery_charging_current;}} A</p>\n    <p>Kapazität {{msg.payload[0].Battery_capacity;}} %</p>\n    \n    <p>PV sekundär </p>\n    <p>PV Batterie {{msg.payload[0].PV_Input_current_for_battery;}} A</p>\n    <p>PV Input {{msg.payload[0].PV_Input_voltage_1;}} V</p>\n    <p>PV Leistung {{msg.payload[0].PV_Input_voltage_1*msg.payload[0].PV_Input_current_for_battery;}}} Watt</p>\n    <p>Batterie Entladestrom{{msg.payload[0].Battery_discharge_current;}} A</p>\n  </div>\n  \n</div>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":670,"y":200,"wires":[[]]},{"id":"6a9166bb.955c28","type":"delay","z":"54216699.9ebaf8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":240,"wires":[["fa2fb264.a076"]]},{"id":"cceb90ad.ec94","type":"switch","z":"54216699.9ebaf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":574,"y":244,"wires":[["6a9166bb.955c28","fa2fb264.a076"],["fa2fb264.a076"]]},{"id":"e7c417bb.4b4ce8","type":"comment","z":"37518fc2.bc6da","name":"Trigger for PIP","info":"","x":90,"y":140,"wires":[]},{"id":"c5475271.a0e7d","type":"ui_gauge","z":"37518fc2.bc6da","tab":"c3d77f4d.5cde4","name":"Sec. PV","group":"Haus","order":"5","format":"{{value}}","min":0,"max":"900","x":760,"y":240,"wires":[]},{"id":"3b7ef38a.da50cc","type":"function","z":"37518fc2.bc6da","name":"PIP","func":"msg.payload=Math.round(msg.payload[0].PV_Input_voltage_1*msg.payload[0].PV_Input_current_for_battery);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["c5475271.a0e7d"]]},{"id":"f377696e.2fcd88","type":"function","z":"a4976228.4f8c9","name":"Get-Vars-Temp","func":"var D0 = global.get(\"Haus-D0\");\nvar WR1 = global.get(\"Haus-WR1\");\nvar AC_output_active_power = global.get(\"AC_output_active_power\");\nvar Battery_voltage = global.get(\"Battery_voltage\");\nvar Battery_charging_current = global.get(\"Battery_charging_current\");\n//global.set(\"PV_Input_current_for_battery\",PV_Input_current_for_battery);\n//global.set(\"PV_Input_voltage\",PV_Input_voltage);\nvar Battery_discharge_current = global.get(\"Battery_discharge_current\");\nvar Device_Modus = global.get(\"Device_Modus\");\n\nvar Last_read = global.get(\"Last_read\");\nvar PIP_Trigger = global.get(\"PIP_Trigger\");\nvar Stempel = global.get(\"Stempel\");\n//msg1.payload = msg1;\n//msg2.payload = msg2;\n//D0=D0.payload+(Battery_charging_current.payload*Battery_voltage.payload);\nreturn [D0, WR1,AC_output_active_power, Battery_voltage,Battery_charging_current,Battery_discharge_current,Device_Modus, Last_read,PIP_Trigger, Stempel];","outputs":"10","noerr":0,"x":323,"y":80,"wires":[["2c62c584.43c10a"],["2c62c584.43c10a"],["2c62c584.43c10a"],["2c62c584.43c10a"],["2c62c584.43c10a"],["2c62c584.43c10a"],["2c62c584.43c10a"],["2c62c584.43c10a"],["2c62c584.43c10a"],["2c62c584.43c10a"]]},{"id":"c95493b0.847ba","type":"inject","z":"a4976228.4f8c9","name":"Repeat 3 sec","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":120,"y":200,"wires":[["f377696e.2fcd88","b2e43184.f2bad","7afb840a.b67eac"]]},{"id":"2c62c584.43c10a","type":"debug","z":"a4976228.4f8c9","name":"","active":false,"console":"false","complete":"false","x":762,"y":85,"wires":[]},{"id":"c9165a9.5e115a8","type":"mqtt out","z":"37518fc2.bc6da","name":"","topic":"Haus/PIP","qos":"2","retain":"","broker":"54c8b90.8f9cc48","x":700,"y":140,"wires":[]},{"id":"edf3cbc9.172d28","type":"function","z":"37518fc2.bc6da","name":"Set global V","func":"Zeit = {};\nAC_output_active_power = {};\nOutput_load_percent = {};\nBattery_voltage = {};\nBattery_charging_current ={};\nBattery_capacity ={};\nPV_Input_current_for_battery ={};\nPV_Input_voltage = {};\nBattery_discharge_current ={};\nDevice_Modus = {};\nStempel ={};\n\nAC_output_active_power.payload = msg.payload[0].AC_output_active_power;\nOutput_load_percent.payload = msg.payload[0].Output_load_percent;\nBattery_voltage.payload = msg.payload[0].Battery_voltage;\nBattery_charging_current.payload = msg.payload[0].Battery_charging_current;\nBattery_capacity.payload = msg.payload[0].Battery_capacity;\nPV_Input_current_for_battery.payload = msg.payload[0].PV_Input_current_for_battery;\nPV_Input_voltage.payload = msg.payload[0].PV_Input_voltage;\nBattery_discharge_current.payload = msg.payload[0].Battery_discharge_current;\nDevice_Modus.payload = msg.payload[0].Device_Modus;\nStempel.payload = msg.payload[0].Stempel;\n\nglobal.set(\"AC_output_active_power\", AC_output_active_power);\nglobal.set(\"Output_load_percent\", Output_load_percent);\nglobal.set(\"Battery_voltage\",Battery_voltage);\nglobal.set(\"Battery_charging_current\",Battery_charging_current);\nglobal.set(\"Battery_capacity\",Battery_capacity);\nglobal.set(\"PV_Input_current_for_battery\",PV_Input_current_for_battery);\nglobal.set(\"PV_Input_voltage\",PV_Input_voltage);\nglobal.set(\"Battery_discharge_current\",Battery_discharge_current);\nglobal.set(\"Device_Modus\",Device_Modus);\nglobal.set(\"Last_Read_PIP\", Stempel);\nreturn [AC_output_active_power, Battery_voltage,Battery_charging_current,Battery_discharge_current,Device_Modus, Stempel];","outputs":1,"noerr":0,"x":590,"y":280,"wires":[[]]},{"id":"55354ac1.5a1244","type":"inject","z":"37518fc2.bc6da","name":"Read 3 sec","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":90,"y":180,"wires":[["b147b385.0a1d9","d4ef4ce9.dfd5b","69787169.69d75"]]},{"id":"d4ef4ce9.dfd5b","type":"function","z":"37518fc2.bc6da","name":"Select-Actual-NR-Control","func":" msg.topic = \"SELECT * FROM Insel.NR_Control ORDER BY ID DESC LIMIT 1\";\n    return msg;","outputs":1,"noerr":0,"x":130,"y":340,"wires":[["10b19aec.64dd25"]]},{"id":"10b19aec.64dd25","type":"mysql","z":"37518fc2.bc6da","mydb":"27d4b4.936f4b4c","name":"Insel-Read","x":330,"y":340,"wires":[["6e8798a2.db8878"]]},{"id":"6e8798a2.db8878","type":"function","z":"37518fc2.bc6da","name":"Set NR-Trigger","func":"Last_read = {};\nPIP_Trigger = {};\nLast_read.payload = msg.payload[0].Last_read;\nPIP_Trigger.payload = msg.payload[0].PIP_Trigger;\n\n\nglobal.set(\"Last_read_Trigger\", Last_read);\nglobal.set(\"PIP_Trigger\", PIP_Trigger);\n\nreturn [Last_read, PIP_Trigger];","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["fc210fa4.18f81"]]},{"id":"88e2decd.a131a","type":"mysql","z":"a4976228.4f8c9","mydb":"27d4b4.936f4b4c","name":"","x":570,"y":540,"wires":[[]]},{"id":"bd0a4e41.bc9f1","type":"inject","z":"a4976228.4f8c9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":540,"wires":[["deea2888.1eebb8"]]},{"id":"b2e43184.f2bad","type":"function","z":"a4976228.4f8c9","name":"Programm","func":"var D0 = global.get(\"Haus-D0\");\nvar WR1 = global.get(\"Haus-WR1\");\nvar AC_output_active_power = global.get(\"AC_output_active_power\");\nvar Battery_voltage = global.get(\"Battery_voltage\");\nvar Battery_charging_current = global.get(\"Battery_charging_current\");\nvar Battery_discharge_current = global.get(\"Battery_discharge_current\");\nvar Battery_capacity = global.get(\"Battery_capacity\");\nvar Device_Modus = global.get(\"Device_Modus\");\n//var Last_read = global.get(\"Last_read\");\nvar PIP_Trigger = global.get(\"PIP_Trigger\");\nvar Stempel = global.get(\"Last-PIP-Write\");\n\nvar Set_Mode=\"leer\"; // var for SQL String\nvar Set_Trigger={}; //var for SQL\nvar Loop_id= 0;\nvar d = new Date(); // Aktuelle Zeit\nvar diff = Math.round((d - Stempel)/1000); // in sec\nvar Load_ID ={}; // set load level\nvar Load_ID_set = {};\nvar Set_Mode_set = {}; // Wofür genau\n\n// for Test\n//D0=-1010;\n// D0 verschiebung im Sommer um -500 Winter 0\nD0=D0.payload + (Battery_charging_current.payload * Battery_voltage.payload) - 0;\n//PIP_Trigger=false;\n//WR1.payload = 900;\n//Device_Modus='L';\n\n//var PIP_write = {};\n//Define Load_ID Ladelevel definieren\nSet_Mode_set = global.get(\"Set_Mode_set\");\n//Set_Mode_set = \"\";\nLoad_ID_set  = global.get(\"Load_ID_set\");\n//Load_ID_set =\"\";\n//Device_Modus = (\"L\");\nif (PIP_Trigger.payload===0)\n{\nif (diff < 40) // wenn weniger als 2 Minute der PIP umgestellt wurde passiert nix\n    {Loop_id=1;Set_Mode =\"leer\"}\n    //****************************************************************************\n    //Erster Bereich schaltet von Batterie auf AC und setzen der Ladeleistung D0<0 & WR1>500\n    else if ( (D0-AC_output_active_power.payload)>0 && WR1.payload > (D0-AC_output_active_power.payload) && Device_Modus.payload==\"B\")\n    //PIP_Trigger false Kann entladen werden hier von B auf L\n    // D0>0 && WR1.payload > 800  && Device_Modus.payload==\"B\"\n    //D0 < 300 && WR1.payload > 500 && Device_Modus.payload==\"L\"\n        // Case D0<500 .....\n        // Case D0>\n    //else if ( D0<200 && Device_Modus.payload=='L' && AC_output_active_power.payload<4000)to Batterie\n        {   Set_Mode =  \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP02','5043503032ad380D', '5', '', NOW()); \" +\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'POP00','504f503030c2480D', '5', '', NOW());\";\n                global.set(\"Set_Mode_set\",'L');\n                Load_ID_set='';\n                Loop_id=2;\n        } \n    //****************************************************************************\n    else if (Device_Modus.payload==\"L\")\n        //Device auf AC kann geladen werden\n        {   Loop_id=3;\n            global.set(\"Set_Mode_set\",''); //reset for Batteriemode\n            // change for winter from 500\n            if (D0<500) Load_ID='0';\n            if (D0>500 && D0<1000) Load_ID='10';\n            if (D0>1000 && D0<1500) Load_ID='20';\n            if (D0>1500 && D0<2000) Load_ID='30';\n            if (D0>2000 && D0<2500) Load_ID='40';\n            if (D0>2500 && D0<3000) Load_ID='50';\n            if (D0>3000) Load_ID='60';   \n                        \n            switch (Load_ID) {\n            case '0':\n                if (Load_ID_set =='0') {\n                    if (D0<200 && Device_Modus.payload=='L' && AC_output_active_power.payload<4000)\n                    {Set_Mode =  \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP03','5043503033bd190D', '5', '', NOW()); \"+\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'POP02','504f503032E20B0D', '5', '', NOW());\";\n                global.set(\"Set_Mode_set\",'B');\n                global.set(\"Load_ID_set\", 'B');\n                \n                Loop_id=3.11;}\n                    else\n                    {Set_Mode =\"leer\"}}\n                else \n                {\n                Set_Mode = \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP02','5043503032ad380D', '5', '', NOW()); \" +\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel)\" +\n                \"VALUES (NULL, '1', 'MUCHGC02','4d5543484743303032b5d10D', '5', '', NOW());\";\n                global.set(\"Load_ID_set\", '0');\n                Loop_id=3.0;\n                }\n                break; \n            case '10':\n                if (Load_ID_set =='10') {Set_Mode =\"leer\"}\n                else\n                {\n                Set_Mode = \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP02','5043503032ad380D', '5', '', NOW()); \" +\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'MUCHGC010','4d5543484743303130a6a20D', '5', '', NOW());\";\n                global.set(\"Load_ID_set\", '10');\n                Loop_id=3.1;\n                }\n                break;  \n            case '20': \n                if (Load_ID_set =='20') {Set_Mode =\"leer\"}\n                else\n                {\n                Set_Mode = \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP02','5043503032ad380D', '5', '', NOW()); \" +\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'MUCHGC020','4d5543484743303230f3f10D', '5', '', NOW());\";\n                global.set(\"Load_ID_set\", '20');\n                Loop_id=3.2;\n                }\n                break;\n            case '30': \n                if (Load_ID_set =='30') {Set_Mode =\"leer\"}\n                else\n                {\n                Set_Mode = \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP02','5043503032ad380D', '5', '', NOW()); \" +\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" + \n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'MUCHGC030','4d5543484743303330c0c00D', '5', '', NOW());\";\n                global.set(\"Load_ID_set\", '30');\n                Loop_id=3.3;\n                    \n                }\n                break;\n            case '40': \n                if (Load_ID_set =='40') {Set_Mode =\"leer\"}\n                else\n                {\n                Set_Mode = \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP02','5043503032ad380D', '5', '', NOW()); \" +\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'MUCHGC040','4d554348474330343059570D', '5', '', NOW());\";\n                global.set(\"Load_ID_set\",'40');\n                Loop_id=3.4\n                }\n                break;\n            case '50': \n                if (Load_ID_set =='50') {Set_Mode =\"leer\"}\n                else\n                {\n                Set_Mode = \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP02','5043503032ad380D', '5', '', NOW()); \" +\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'MUCHGC050','4d55434847433035306a660D', '5', '', NOW());\";\n                global.set(\"Load_ID_set\", '50');\n                Loop_id=3.5\n                }\n                break;\n            case '60': \n                if (Load_ID_set =='60') {Set_Mode =\"leer\"}\n                else\n                {\n                Set_Mode = \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP02','5043503032ad380D', '5', '', NOW()); \" +\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'MUCHGC060','4d55434847433036303f350D', '5', '', NOW());\";\n                global.set(\"Load_ID_set\", '60');\n                Loop_id=3.6\n                    \n                }\n                break;}\n        }\n    //***************************************************************************\n    //  Stellt auf Batteriebetrieb\n    //  D0 >300 und AC_output_active_power <4000\n    else if ( D0<200 && Device_Modus.payload=='L' && AC_output_active_power.payload<4000)\n    //Bei Strombezug D0 < 200 Watt auf Batterie stellen\n    // gelöscht ober PIP_Trigger.payload===0 \n        {   if (Load_ID_set=='B'){Set_Mode =\"leer\"}\n            else {\n            Set_Mode =  \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'PCP03','5043503033bd190D', '5', '', NOW()); \"+\n                \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'POP02','504f503032E20B0D', '5', '', NOW());\";\n                global.set(\"Set_Mode_set\",'B');\n                global.set(\"Load_ID_set\", 'B');\n                \n                Loop_id=4;\n        }   }\n}\nelse if (PIP_Trigger.payload===1 && AC_output_active_power.payload<2500 && Device_Modus.payload==\"L\")\n    {\n        Set_Mode =  \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'POP02','504f503032E20B0D', '5', '', NOW()); \"\n    }\n\n\n// Set PIP_Trigger\n//if (PIP_Trigger.payload===0 && Battery_capacity.payload===100 && AC_output_active_power.payload<2500) \n//    {global.set(\"PIP_Trigger.payload\",true);\n//    Set_Mode =  \"INSERT INTO Insel.NR_Control (ID, Last_read, PIP_Trigger)\" +\n//                \"VALUES (NULL, NOW(), true)\";\n     //           global.set(\"Set_Mode_set\",'L');    \n//                }\n//if (PIP_Trigger.payload===1 && Battery_capacity.payload<60)\n/////////AC_output_active_power.payload>2500) \n//    {global.set(\"PIP_Trigger.payload\",false);\n//    Set_Mode =  \"INSERT INTO Insel.NR_Control (ID, Last_read, PIP_Trigger)\" +\n//                \"VALUES (NULL, NOW(), false)\";\n//                global.set(\"Set_Mode_set\",'B');   \n//    } \n\n// PIP_Trigger true muss laden\n//msg.payload= (hh + \":\" + mm + \":\" + ss);\n//msg.payload=diff;\nvar msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\n//var msg6={};\nif (Set_Mode ==={}) {Set_Mode=\"leer\"}\n\nmsg1.topic = Set_Mode;\nmsg1.payload = Set_Mode;\nmsg2.topic = Set_Trigger;\nvar msg6 = {'Device_Modus': Device_Modus.payload,\n            'Loop_id': Loop_id,\n            'Load_ID_set': Load_ID_set,\n            'Load_ID ': Load_ID,\n            'Set_Mode': Set_Mode, \n            'Diff': diff,\n            'D0': D0,\n           'WR1': WR1.payload,\n            'AC-Out' : AC_output_active_power.payload,\n            'Battery-Voltage': Battery_voltage.payload, \n            'Battery-Charge-Current': Battery_charging_current.payload,\n            'Battery-Discharge-Current': Battery_discharge_current.payload,\n            'PIP-Mode (L)and (B)attery': Device_Modus.payload,\n//            'Last-Read': Last_read.payload};\n            'PIP-Trigger': PIP_Trigger.payload,\n            'Last-PIP-Write': Stempel.payload,\n            'Load_set_ID': Load_ID_set,\n            'Set_Mode_set':Set_Mode_set};\n//msg6.payload = msg6;   \nreturn [msg1, msg2, msg6];\n//return [msg1, msg2, msg6];","outputs":"3","noerr":0,"x":310,"y":200,"wires":[["b8b1a317.dbfd8","fc5d55a6.88cbf8","94ae2cb4.df9c5","598efad6.2a74a4"],["714a5e08.a7577"],["598efad6.2a74a4"]]},{"id":"b7a242f.8bf50c","type":"mysql","z":"37518fc2.bc6da","mydb":"27d4b4.936f4b4c","name":"","x":310,"y":400,"wires":[["8d025716.1277f8","ac7d05fc.68efa8"]]},{"id":"69787169.69d75","type":"function","z":"37518fc2.bc6da","name":"test","func":"\n msg.topic = \" Select * FROM Insel.PIP2read ORDER BY Read_ID DESC LIMIT 1\";\n    return msg;\n\n\n//INSERT INTO table3 (col1, col2, col3)\n//SELECT col1, col2, col3 FROM tabel1\n//UNION\n//SELECT col1, col2, col3 FROM tabel2","outputs":1,"noerr":0,"x":120,"y":400,"wires":[["b7a242f.8bf50c"]]},{"id":"ac7d05fc.68efa8","type":"debug","z":"37518fc2.bc6da","name":"","active":false,"console":"false","complete":"false","x":570,"y":440,"wires":[]},{"id":"8d025716.1277f8","type":"function","z":"37518fc2.bc6da","name":"Set PIP2read-gloabl Vars Stempel..","func":"Stempel = {};\nBefehl_hex= {};\nStempel.payload = msg.payload[0].Stempel;\nBefehl_hex.payload = msg.payload[0].befehl_hex;\n//global.set(\"Stempel\", Stempel);\nglobal.set(\"Befehl_hex\", Befehl_hex);\nglobal.set(\"Last-PIP-Write\", msg.payload[0].Stempel);\nreturn [Stempel,Befehl_hex];","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["fc210fa4.18f81"]]},{"id":"598efad6.2a74a4","type":"debug","z":"a4976228.4f8c9","name":"","active":true,"console":"false","complete":"true","x":570,"y":280,"wires":[]},{"id":"be2f2569.a7bf68","type":"mysql","z":"a4976228.4f8c9","mydb":"27d4b4.936f4b4c","name":"","x":750,"y":240,"wires":[["21281e73.185a82"]]},{"id":"21281e73.185a82","type":"debug","z":"a4976228.4f8c9","name":"","active":true,"console":"false","complete":"true","x":750,"y":340,"wires":[]},{"id":"deea2888.1eebb8","type":"function","z":"a4976228.4f8c9","name":"","func":"var msg={};\nSet_Mode =  \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel) \" +\n                \"VALUES (NULL, '1', 'POP00','504f503030c2480D', '5', '', NOW())\";\nmsg.topic= Set_Mode;  \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["88e2decd.a131a"]]},{"id":"ea8e61c3.ab069","type":"function","z":"a4976228.4f8c9","name":"Set 2 A","func":"var msg = {};\nSet_Mode = \"INSERT INTO Insel.PIP2read (Read_ID, Machine_ID, \" +\n                \"befehl_txt, befehl_hex, empfang_laenge, empfang_txt, Stempel)\" +\n                \"VALUES (NULL, '1', 'MUCHGC02','4d5543484743303032b5d10D', '5', '', NOW())\";\n               \nmsg.topic = Set_Mode;   \nreturn msg;                ","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["88e2decd.a131a"]]},{"id":"2f0f5c7d.5a2844","type":"inject","z":"a4976228.4f8c9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":500,"wires":[["ea8e61c3.ab069"]]},{"id":"b8b1a317.dbfd8","type":"switch","z":"a4976228.4f8c9","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"leer","vt":"str"}],"checkall":"true","outputs":1,"x":610,"y":160,"wires":[["a0453f8f.7fdfc","be2f2569.a7bf68"]]},{"id":"714a5e08.a7577","type":"switch","z":"a4976228.4f8c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"leer\"","vt":"str"}],"checkall":"true","outputs":1,"x":550,"y":240,"wires":[["be2f2569.a7bf68"]]},{"id":"8bf5f2f5.9b97e","type":"comment","z":"a4976228.4f8c9","name":"Test","info":"","x":120,"y":460,"wires":[]},{"id":"be0d41e6.0946a","type":"function","z":"37518fc2.bc6da","name":"","func":"msg1 = {};\nmsg1.payload = msg.payload;\nglobal.set(\"Haus-D0\",msg1);\nreturn msg1;","outputs":1,"noerr":0,"x":710,"y":80,"wires":[[]]},{"id":"fc5d55a6.88cbf8","type":"rbe","z":"a4976228.4f8c9","name":"","func":"rbe","gap":"","start":"","inout":"out","x":510,"y":200,"wires":[[]]},{"id":"7afb840a.b67eac","type":"function","z":"a4976228.4f8c9","name":"","func":"var D0 = global.get(\"Haus-D0\");\nvar WR1 = global.get(\"Haus-WR1\");\nvar AC_output_active_power = global.get(\"AC_output_active_power\");\nvar Battery_voltage = global.get(\"Battery_voltage\");\nvar Battery_charging_current = global.get(\"Battery_charging_current\");\nvar Battery_discharge_current = global.get(\"Battery_discharge_current\");\nvar Device_Modus = global.get(\"Device_Modus\");\nvar Last_read = global.get(\"Last_read\");\nvar PIP_Trigger = global.get(\"PIP_Trigger\");\nvar d = new Date(); // Aktuelle Zeit\nvar Stempel = global.get(\"Last-PIP-Write\");\n//var diff = Math.round((d - Stempel.payload)/1000); // in sec\n\nvar diff = d - Stempel;\nD0=D0.payload + (Battery_charging_current.payload * Battery_voltage.payload);\n\nLoad_ID_set  = global.get(\"Load_ID_set\");\nmsg.payload = { diff: diff,\n                now: d,\n                Stempel: Stempel};\n//if (diff < 2*60) // wenn weniger als 2 Minute der PIP umgestellt wurde passiert nix\n//    {Loop_id=1;}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[[]]},{"id":"fc210fa4.18f81","type":"mqtt out","z":"37518fc2.bc6da","name":"","topic":"Haus/PIP-VARS","qos":"2","retain":"","broker":"54c8b90.8f9cc48","x":800,"y":300,"wires":[]},{"id":"a0453f8f.7fdfc","type":"debug","z":"a4976228.4f8c9","name":"","active":false,"console":"false","complete":"true","x":780,"y":160,"wires":[]},{"id":"94ae2cb4.df9c5","type":"function","z":"a4976228.4f8c9","name":"","func":"msg.payload = msg.payload[9];\nif (msg ===null) {msg.payload=\"leer\"}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":320,"wires":[[]]},{"id":"51bde85b.8da1f8","type":"switch","z":"37518fc2.bc6da","name":"","property":"payload[0].Battery_capacity","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":340,"y":140,"wires":[[],["c9165a9.5e115a8","2cc40324.7db6ac","3b7ef38a.da50cc","edf3cbc9.172d28"]]},{"id":"11ed40df.fc04df","type":"debug","z":"54216699.9ebaf8","name":"","active":false,"console":"false","complete":"false","x":690,"y":80,"wires":[]},{"id":"35d0f13c.5fed4e","type":"bigtimer","z":"54216699.9ebaf8","outtopic":"","outpayload1":"0","outpayload2":"1","name":"Big Timer","lat":"52.52","lon":"13.41","starttime":"5001","endtime":"1380","startoff":0,"endoff":0,"offs":0,"outtext1":"Licht an","outtext2":"Licht aus","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"x":412,"y":91,"wires":[["11ed40df.fc04df","333035.0b4ecfcc"],[],[]]},{"id":"b242b414.c5f6c8","type":"mqtt out","z":"54216699.9ebaf8","name":"","topic":"/Sonoff1/gpio/12","qos":"0","retain":"","broker":"54c8b90.8f9cc48","x":640,"y":520,"wires":[]},{"id":"11ae3ff3.7c7f8","type":"mqtt in","z":"54216699.9ebaf8","name":"","topic":"/Sonoff1/#","qos":"2","broker":"54c8b90.8f9cc48","x":210,"y":540,"wires":[["ec369175.a89de"]]},{"id":"ec369175.a89de","type":"debug","z":"54216699.9ebaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":500,"wires":[]},{"id":"9a08d0fd.0bcc3","type":"inject","z":"54216699.9ebaf8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":600,"wires":[["b242b414.c5f6c8"]]},{"id":"972503d9.b7404","type":"inject","z":"54216699.9ebaf8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":560,"wires":[["b242b414.c5f6c8"]]}]